<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>min chat app</title>
    <link rel="Stylesheet" href="style.css"/>
</head>
<body>

    <form method="get" action="chats/new">
    <button>Add new</button>
    </form>
    <br>
    <% for (let chat of chatting ) { %>
        <div class="chatbox">
            <p>From:<i><%=chat.from%></i></p>
            <div class="msgbox">
            <p >message:<%=chat.msg%></p>
            <form method="GET" action="/chats/<%=chat.id%>/edit">
                <button>Edit</button>
            </form>
            
            </div>
            <p>To:<i><%=chat.to%></i></p>
            <hr>
            <p><%=chat.created_at%></p>
        </div>       
        
        <%}%>
</body>
</html>
